<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>云日月山水田</string>
	<string>虫牛鸟鱼马鸭</string>
	<string>一二三四五十</string>
	<string>上下大小少中</string>
	<string>人耳牙口手女</string>
	<string>六七八九不个</string>
	<string>红灯妈白车门</string>
	<string>画听飞种打好</string>
	<string>江花叶沙草木</string>
	<string>头只朵棵条火</string>
	<string>天空世界土地</string>
	<string>你我他她它们</string>
	<string>气候风晴雨雪</string>
	<string>蓝黄绿色青美</string>
	<string>光亮明太星阳</string>
	<string>爷奶爸姐家母</string>
	<string>树果瓜枝米生</string>
	<string>松竹柳桃森林</string>
	<string>春秋冬年岁像</string>
	<string>同学老师习园</string>
	<string>又和也再就才</string>
	<string>河海流清池满</string>
	<string>欢乐高兴歌金</string>
	<string>跑跳行走立坐</string>
	<string>东西南北前后</string>
	<string>为什么知道会</string>
	<string>来去回别从向</string>
	<string>许多几千有没</string>
	<string>毛角兔禾苗面</string>
	<string>方圆点正台位</string>
	<string>用做住变把处</string>
	<string>这那边里总是</string>
	<string>着了的节成在</string>
</array>
</plist>
